<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

<%- include ("../partials/nav.ejs") %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.jpg">
    </a>
    <h2>BetterBreak Wiki</h2>
    <h4>La fuente más confiable de información de Braking Bad y Better Call Saul</h4>
    <h6>Powered by: <a href="https://tarea-1-breaking-bad.herokuapp.com">tarea-1-breaking-bad</a></h6>
  </div>
</div>

<div class="container content">
  <h1>Elige una temporada de tu serie favorita para continuar:</h1>
  <hr>
  <div class="row">
    <div class="col-md-6 titles">
      <h1>Breaking Bad</h1>
      <ul style="list-style-type:none;">
        <% seasons_break.forEach(x=> {%>
        <li><h2><a href="/episodes?season=<%- x %>&show=Breaking-Bad">Season <%- x %></a></h2></li>
        <% }) %>
      </ul>
    </div>
    <div class="col-md-6 titles">
      <h1>Better Call Saul</h1>
      <ul style="list-style-type:none;">
        <% seasons_better.forEach(x=> {%>
        <li><h2><a href="/episodes?season=<%- x %>&show=Better-Call-Saul">Season <%- x %></a></h2></li>
        <% }) %>
      </ul>
    </div>
  </div>
  <div class="row">
  </div> <!-- row -->
</div>


</body>
</html>
